.navbar {
    .wrapper {
        margin: 10px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 5px;
        font-family: "Ubunto", sans-serif;

        img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
        }

        li {
            font-size: 20px;
            padding-bottom: 2px;
            letter-spacing: 2px;
            color: #0c5679;
            font-weight: 800;
            &:hover {
                color: #0c5779c2;
                box-shadow: 0px 1px#0c5779c2;
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    .navbar {
        .wrapper {
            margin: 10px 15px;

            img {
                width: 55px;
                height: 55px;
            }

            i {
                font-size: 18px;
            }
        }
    }
}
